[Unit]
Description=Minecraft 1.20.1 Forge Server
After=network.target

[Service]
Type=forking
User=charles
WorkingDirectory=/home/charles/Minecraft/Minecraft_1.20.1
ExecStart=/bin/bash -c './screen_run_server.sh'
ExecStop=/bin/bash -c 'screen -S minecraft -X stuff "stop^M" && rm /home/charles/Minecraft/lock && cp -ur /home/charles/Minecraft/Minecraft_1.20.1 /media/Backup/Minecraft && echo "Minecraft data successfully backed up."'
Restart=no

[Install]
WantedBy=multi-user.target
